<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web_user_add</title>
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/dhtmlx.css">
    <!--<link rel="stylesheet" type="text/css" href="../dhtmlxSuite/sources/dhtmlxGrid/codebase/skins/dhtmlxgrid_dhx_web.css">-->
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/sources/dhtmlxGrid/">

    <script type="text/javascript" src="../js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../js/plugins/angular.min.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="../js/custom/company_detail_add.js"></script>
    <script type="text/javascript" src="../js/plugins/basePath.js"></script>

</head>
<body  ng-app="myApp" ng-controller="myCtrl" >
<div style="width: 100%;text-align: center;margin-top: 50px"><h3>添加内容</h3></div>
<div style="width: 100%;">
    <div style="width: 800px;border: 1px solid #eee;margin: 0 auto;padding: 40px;">


        <p  style="text-align: center"> 标题：<input   ng-model="window.title"  type="text" style="width: 600px;height: 20px"  maxlength="30"  placeholder="请输入标题(不超过30字)"></p>

        <div style="width: 780px;height: 300px;border: 1px solid #dfdfdf;margin-top: 10px" id="editorObj"></div>


        <div style="text-align: center;margin-top: 10px">
            <button style="width: 120px;height: 40px;border-radius: 5px" ng-click="do_add()">确认</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button style="width: 120px;height: 40px;border-radius: 5px" ng-click="back()">返回</button>
        </div>
    </div>
</div>
</body>
</html>