<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>汽车订单_add</title>
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/dhtmlx.css">
    <!--<link rel="stylesheet" type="text/css" href="../dhtmlxSuite/sources/dhtmlxGrid/codebase/skins/dhtmlxgrid_dhx_web.css">-->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/kkpager_blue.css">
    <link rel="stylesheet" type="text/css" href="../css/style_font.css">

    <script type="text/javascript" src="../js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../js/plugins/angular.min.js"></script>

    <script type="text/javascript" src="../dhtmlxSuite/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/codebase/dhtmlXGridCell.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxCommon/codebase/dhtmlxcommon.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/dhtmlxgrid.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_pgn.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlXGrid_splt.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlXGrid_mcol.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_drag.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_filter.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/excells/dhtmlxgrid_excell_cntr.js"></script>
    <script type="text/javascript" src="../js/plugins/basePath.js"></script>

    <script type="text/javascript" src="../js/custom/car_add.js"></script>
    <script type="text/javascript" src="../js/plugins/kkpager.min.js"></script>

</head>

<body  ng-app="myApp" ng-controller="myCtrl" >

<div class="public">
    <ul type="none" class="top_list">
        <li><div><span class="blue right" onclick="JavaScript:history.go(-1);" >返回</span></div></li>
    </ul>
    <ul type="none" >
        <li><div class="pub_div"><span class="red">*</span><span>城市</span></div></li>
        <li><input type="text" ng-model="cartype.city"></li>
        <li><div class="pub_div"><span class="red">*</span><span>名称</span></div></li>
        <li><input type="text" ng-model="cartype.mingcheng"></li>
        <li><div class="pub_div"><span class="red">*</span><span>商品编码</span></div></li>
        <li><input type="text"  ng-model="cartype.goods_code"></li>
        <li><div class="pub_div"><span class="red">*</span><span>车型</span></div></li>
        <li><input type="text" ng-model="cartype.chexing"></li>
        <li><div class="pub_div"><span class="red">*</span><span>车型颜色</span></div></li>
        <li><input type="text" ng-model="cartype.color"></li>
        <li><div class="pub_div"><span class="red">*</span><span>库存</span></div></li>
        <li><input type="text"  ng-model="cartype.kucun"></li>
        <li><div class="pub_div"><span class="red">*</span><span>价格</span></div></li>
        <li><input type="text" ng-model="cartype.price"></li>
        <li><div class="pub_div"><span class="red">*</span><span>有效期</span></div></li>
        <li><div><input ng-model="cartype.youxiao" type="text"></div></li>
        <li><div class="pub_div"><span class="red">*</span><span>封面</span></div></li>
        <li>
            <input type="file" class="uploadimg">
            <div  id="img"  class="uploaddiv"><img   style="max-width: 400px" src="../imgs/open.png" alt="" /></div>
        </li>
        <li><div class="pub_div"><span class="red">*</span><span>状态</span></div></li>
        <li><div style="text-align: left;width: 70vw;margin: 0 auto"><input type="radio" name="yes_no"  ng-click="yes_no(0)">无效<input type="radio" name="yes_no" ng-click="yes_no(1)">生效</div></li>
        <li><div class="pub_div"><span class="red">*</span><span>说明</span></div></li>
        <li><div style="width: 70vw;height: 300px;border: 1px solid #ccc;margin:  0 auto" id="editorObj"></div></li>
    </ul>
    <button  class="button_" ng-click="to_creat()">创建</button>
</div>
</body>
</html>